if theme.disqus
  #disqus_thread
    script.
      var disqus_name = '#{theme.disqus}';
      var disqus_identifier = '#{page.path}';
      var disqus_title = '#{page.title}';
      var disqus_url = '#{config.url}/#{page.path}';
      (function() {
        var d = document, s = d.createElement('script'); 
        
        s.src = '//' + disqus_name + '.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp',+new Date());
        (d.head || d.body).appendChild(s);
      })();
    script(id='dsq-count-scr' src='//#{theme.disqus}.disqus.com/count.js' async)

if theme.duoshuo
  .ds-thread(data-thread-key=page.path, data-title=page.title, data-url=page.permalink)
    script.
      var duoshuoQuery = {short_name:'#{theme.duoshuo}'};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
        // load ua-parser.js
        ds.src = 'http://faisalman.github.io/ua-parser-js/src/ua-parser.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();